default_layout "default"
theme "default"
on_force_close "detach"
default_shell "zsh"
scrollback_editor "hx"
copy_command "xclip -selection clipboard"
simplified_ui false
mouse_mode true
pane_viewport_serialization false

keybinds {
    normal {
        bind "Ctrl q" { Detach; }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
}

load_plugins {
    // source https://github.com/alex35mil/dotfiles/blob/master/bin/zellij/statusbar/README.md
    "file:/home/omar/.config/zellij/plugins/statusbar.wasm"
}

ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
}
