layout {
  cwd "/home/omar/github.com/diatomCBT/codescalers/"

  default_tab_template {
    children
  }

  tab name="src" {
    pane command="nvim" {
      args "."
    } 
  }

  tab name="agent" {
    pane command="claude"
  }

  tab name="shell" {
    pane
  }

  tab nema="server" {
    pane name="backend" cwd="~/github.com/diatomCBT/codescalers/backend/"
    pane name="frontend" cwd="~/github.com/diatomCBT/codescalers/frontend/"
  }

  tab name="remote" {
     pane command="ssh" {
      args "diatom"
     }

  }
}
