layout {
  cwd "/home/omar/github.com/Omarabdul3ziz/souqnazr.at/"

  default_tab_template {
    children
  }

  tab name="src" {
    pane command="nvim" {
      args "."
    } 
  }

  tab name="agent" {
    pane command="claude"
  }

  tab name="shell" {
    pane
  }

}
