#!/bin/bash

alias goo="code ~/github.com/threefoldtech/tfgrid-sdk-go/"
alias zoo="code ~/github.com/threefoldtech/zos/"
alias snip="code ~/github.com/Omarabdul3ziz/go-snippets/"

alias ngoo="nvim ~/github.com/threefoldtech/tfgrid-sdk-go/"
alias nzoo="nvim ~/github.com/threefoldtech/zos/"
alias nsnip="code ~/github.com/Omarabdul3ziz/go-snippets/"
