layout {
    default_tab_template {
        children
    }

    tab name="zos" {
        pane stacked=true {
            pane name="base" focus=true cwd="~/github.com/threefoldtech/zosbase"
            pane name="main" cwd="~/github.com/threefoldtech/zos"
            pane name="light" cwd="~/github.com/threefoldtech/zoslight"
        }
    }
    
    tab name="sdk" {
        pane stacked=true {
            pane name="src" focus=true cwd="~/github.com/threefoldtech/tfgrid-sdk-go"
            pane name="git" command="lazygit" cwd="~/github.com/threefoldtech/tfgrid-sdk-go"
        }
    }
    //
    // tab name="vdc" {
    //     pane stacked=true {
    //         pane name="src" focus=true cwd="~/github.com/threefoldtech/kubecloud"
    //         pane name="frontend" cwd="~/github.com/threefoldtech/kubecloud/frontend"
    //         pane name="backend" cwd="~/github.com/threefoldtech/kubecloud/backend"
    //         pane name="git" command="lazygit" cwd="~/github.com/threefoldtech/kubecloud"
    //     }
    // }

    tab name="diatom" {
        pane stacked=true {
            pane name="src" focus=true cwd="~/github.com/diatomCBT/codescalers"
            pane name="backend" cwd="~/github.com/diatomCBT/codescalers/backend"
            pane name="git" command="lazygit" cwd="~/github.com/diatomCBT/codescalers"
        }
    }

    tab name="lab" {
        pane stacked=true {
            pane name="src" focus=true cwd="~/github.com/Omarabdulaziz"
            pane name="dbgr" cwd="~/github.com/Omarabdulaziz/tfdbg"
            pane name="homelab" command="ssh" {
                args "homelab"
            }
        }
    }

    tab name="nomad" {
        pane focus=true
    }
}
