layout {
    default_tab_template {
        // pane size=1 borderless=true {
        //     plugin location="zellij:compact-bar"
        // }
        children
        // pane size=1 borderless=true {
        //     plugin location="zellij:status-bar"
        // }
    //     pane size=1 borderless=true {
    //         plugin location="file:/home/omar/.config/zellij/plugins/zjstatus.wasm" {
    //             // plugin configuration...
    //             format_left   "{mode} #[fg=#89B4FA,bold]{session}"
    //             format_center "{tabs}"
    //             format_right  "{command_git_branch} {datetime}"
    //             format_space  ""

    //             border_enabled  "false"
    //             border_char     "─"
    //             border_format   "#[fg=#6C7086]{char}"
    //             border_position "top"

    //             hide_frame_for_single_pane "true"

    //             mode_normal  "#[bg=blue] "
    //             mode_tmux    "#[bg=#ffc387] "

    //             tab_normal   "#[fg=#6C7086] {name} "
    //             tab_active   "#[fg=#9399B2,bold,italic] {name} "

    //             command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
    //             command_git_branch_format      "#[fg=blue] {stdout} "
    //             command_git_branch_interval    "10"
    //             command_git_branch_rendermode  "static"

    //             datetime        "#[fg=#6C7086,bold] {format} "
    //             datetime_format "%A, %d %b %Y %H:%M"
    //             datetime_timezone "Europe/Berlin"
    //         }
    //     }

        pane size=1 borderless=true {
            plugin location="file:/home/omar/.config/zellij/plugins/statusbar.wasm"
        }
    }

    tab name="zos" {
        pane stacked=true {
            pane name="base" focus=true cwd="~/github.com/threefoldtech/zosbase"
            pane name="main" cwd="~/github.com/threefoldtech/zos"
            pane name="light" cwd="~/github.com/threefoldtech/zoslight"
        }
    }
    
    tab name="sdk" {
        pane stacked=true {
            pane name="src" focus=true cwd="~/github.com/threefoldtech/tfgrid-sdk-go"
            pane name="git" command="lazygit" cwd="~/github.com/threefoldtech/tfgrid-sdk-go"
        }
    }

    tab name="vdc" {
        pane stacked=true {
            pane name="src" focus=true cwd="~/github.com/threefoldtech/kubecloud"
            pane name="frontend" focus=true cwd="~/github.com/threefoldtech/kubecloud/frontend"
            pane name="backend" focus=true cwd="~/github.com/threefoldtech/kubecloud/backend"
            pane name="git" command="lazygit" cwd="~/github.com/threefoldtech/kubecloud"
        }
    }

    tab name="diatom" {
        pane stacked=true {
            pane name="src" focus=true cwd="~/github.com/diatomcbt/dashboard"
            pane name="backend" focus=true cwd="~/github.com/diatomcbt/dashboard/backend"
            pane name="git" command="lazygit" cwd="~/github.com/diatomcbt/dashboard"
        }
    }

    tab name="lab" {
        pane stacked=true {
            pane name="src" focus=true cwd="~/github.com/Omarabdulaziz"
            pane name="dbgr" focus=true cwd="~/github.com/Omarabdulaziz/tfdbg"
            pane name="homelab" command="ssh" {
                args "homelab"
            } 
        }
    }

    tab name="nomad" {
    }
}
