layout {
  cwd "/home/omar/github.com/threefoldtech/tfgrid-sdk-go/"

  default_tab_template {
    children
  }

  tab name="base" cwd="/home/omar/github.com/threefoldtech/tfgrid-sdk-go/"{
    pane command="nvim" {
      args "."
    } 
  }

  tab name="agent" cwd="/home/omar/github.com/threefoldtech/tfgrid-sdk-go/"{
    pane command="agent" {
      args "."
    } 
  }

  tab name="shell" {
    pane
  }

}
