#!/bin/bash

# CODE
alias zos='cursor /home/omar/github.com/threefoldtech/zos3.code-workspace'
alias zosl='cursor /home/omar/github.com/threefoldtech/zoslight.code-workspace'

# GIT
alias gtdb='git branch --merged | grep -v "^\*" | xargs -r git branch -d'
alias lg='lazygit'

#
alias dohaeris='sudo $(fc -ln -1)'
alias zj='zellij'
