[user]
	name = Omar Abdulaziz
	email = omarabdul3ziz@gmail.com

[core]
	excludesFile = ~/.gitignore
	editor = helix
	pager = delta

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
[credential]
	helper = libsecret
[pull]
	rebase = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	hyperlinks = true
[alias]
	ds = diff --stat
	dsc = diff --cached --stat
